<div class="row">
  <div class="col-xs-3">
    <%= render 'genres/sidebar', genres: @genres %>
  </div>

  <div class="col-xs-9">
    <div id="slideshow">
      <div id="container">
        <div id="theTarget">
          <div class="back-image1"></div>
          <div class="back-image2"></div>
          <div class="back-image3"></div>
          <div class="back-image4"></div>
        </div>
        <div class="welcom-text">
          <p>
            ようこそ、NaganoCakeへ！<br>
            このサイトは、ケーキ販売のECサイトになります。<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
    </div>
  </div>